@mixin gagalin() {
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    font-weight: 300;
}

@mixin ubuntu($style: light) {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    @if $style==light {
        font-weight: 300; 
    }
    @else if $style==regular {
        font-weight: 400; 
    }
    @else if $style==medium {
        font-weight: 500;

    }
    @else if $style==bold {
        font-weight: bold;
    }
}

@mixin lifehack() {
    font-family: 'Lifehack-Medium';
}

@mixin laptop {
	@media screen and (max-width: $laptop) {
		@content
	}
}

@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content
	}
}

@mixin phones {
	@media screen and (max-width: $phones) {
		@content
	}
}

@mixin phones-small {
	@media screen and (max-width: $phones-small) {
		@content
	}
}

@function rem($px) {
	@return $px / 16px+0rem;
}