$dark: #2f3234;
$yellow: #f9b43b;
$red: #e45028;
$white: #ffffff;
$orange: #f08c33;
$input-radio: #e35028;
$green: #8ac03e;
$link-menu-active: #f9b43b;

$desktop: 1200px;
$laptop: 980px;
$tablets: 768px;
$phones: 480px;
$phones-small: 350px;