.features__list {
    display: flex;
}

.features__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 rem(6px);
}

.features__img-wrapper {
    margin: 0 auto;   
    margin-bottom: rem(34px);
    max-height: rem(90px);
}

.features__desc {
    text-align: center;
    @include ubuntu(light);
    font-size: rem(14px);
    line-height: 1.7;
    color: $dark;
}
.features__img {
    max-width: 130px;
    max-height: 100px;
}
.features__img--meat {
    fill: $red;
}

.features__img--hand {
    fill: $yellow;
}

.features__img--natural {
    fill: $green;
}

.features__title {
    @include lifehack;
    font-weight: 300;
    font-size: rem(24px);
    line-height: 1.2;
}