.form {
    color: $white;
    @include ubuntu(light);
    font-size: 14px;
}
.form__row {
    display: flex;
    margin-bottom: 15px;
}

.form-section {
    background-image: url(../../images/section-form/bg-form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}

.form__layout {
    display: flex;
    width: 100%;
    color: $white;
    justify-content: space-between;
}
.form__column {
    width: 50%;
    margin-left: 20px;
}
.form__column:first-child {
    margin-left: 0;
}

.form__label {
    width: 100%;
    display: block;
    margin-bottom: 8px;
}

.form__field {
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

.form__field:first-child {
    margin-left: 0;
}
.form__field--checkbox {
    display: flex;
}

.form__input {
    outline: none;
    width: 100%;
    border: 2px #d1cfcb solid;
    color: $dark;
    line-height: 33px;
    border-radius: 5px;
    padding: 1px 20px;
    font-weight: 300;
}

.form__input:focus {
    border: 2px $yellow solid;
}

.form__radio {
    display: flex;
    justify-content: flex-start;
}
.form__label--radio {
    width: auto;
    margin-right: 16px;
    display: flex;
}

.form__radio-item {
  background-color:$white;
  content: '';
  height: 15px;
  width: 15px;
  display: flex;
    justify-content: center;
    align-items: center;
  border-radius: 50%;
  margin-right: 6px;
  position: relative;
}
.form__radio-item:after {
    background-color:$input-radio;
    content: '';
    height: 7px;
    width: 7px;
    display: block;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
  }

  .form__radio-elem:checked +.form__radio-item:after {
    opacity: 1;
}

.form__checkbox-item {
    width: 16px;
    height: 15px;
    background-color: $white;
    margin-right: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__checkbox:checked+.form__checkbox-item:after {
    content: '';
    background: url(../../images/section-form/check.png) no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
}

.reset {
    cursor: pointer;
    color: $white;
    outline: none;
    border: none;
    background: none;
    font-weight: 300;
}


