.order-link {
    color: $white;
    background-color: $red;
    padding: rem(6px) rem(10px);
    border-radius: rem(3px);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    font-size: rem(13px);
    border: rem(1px) solid transparent;
    outline: none;
    &:hover {
        background-color: #c1401e;
    }
    @include tablets {
		&.order-link--header {
			margin-right: rem(60px);
		}
	}
}

.order-link--submit {
    margin-right: rem(25px);
}
