.reviews {
    width: 100%;
}

.reviews__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    &:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: transparent;
		transition: 0.3s;
	}
	&:hover {
		.reviews__wrap {
			opacity: 1;
		}
		&:after {
			background-color: rgba(20, 20, 20, .7);
		}
    }
    @include tablets {
		height: 25%;
		width: 50%;
	}
}

.reviews_wrapper {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    padding: rem(49px) rem(21px) 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 5;
    &:hover {
        opacity: 1;
    }
    @include tablets {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 5%;
		text-align: center;
	}
}

.reviews__title {
    @include gagalin;
    margin-bottom: rem(32px);
    @include tablets {
		margin-bottom: rem(10px);
	}
	@include phones {
		font-size: rem(24px);
	}
}

.reviews__text {
    font-size: 14px;
    line-height: 1.75;
    margin-bottom: rem(24px);
    @include ubuntu(light);
    @include tablets {
		font-size: rem(13px);
		margin-bottom: rem(10px);
	}
	@include phones {
		display: none;
	}
}

.reviews__button {
    @include ubuntu(500);
    display: inline-block;
    font-size: rem(13px);
    text-transform: uppercase;
    padding: rem(12px);
    background-color: #2f3234;
    border-radius: rem(5px);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    &:hover {
        background-color: #1f2122;
    }
}