.main {
    background-image: url('../../app/images/section-main/img-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.main-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-height: 80%;
    flex: 1;
}
.main__desc {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12%;
}

.main__wrapper-down {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex: 0.2;
}

.main__button-down {
    height: min-content;
    display: flex;
    align-self: center;
}

.main__img-wrapper {
    max-height: 80%;
    max-width: 60%;
}

.main__img {
    object-fit: cover;
}