.section {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.section__title {
    @include gagalin;
    font-size: rem(72px);
    text-align: center;
    &--color-yellow {
        color: $yellow;
    }
    &--color-white {
        color:$white;
    }
    &--color-dark {
        margin-bottom: rem(58px);
        @include phones {
            font-size: rem(50px);
        }
    }
    &--padding-top-left {
        padding-top: 10%;
        padding-left: 10%;
    }
    @include phones {
		font-size: rem(50px);
    }
    &--phones-small {
        @include phones-small {
            font-size: rem(34px);
        }
    }
}

.section__title--text-align-left {
    text-align: left;
    @include tablets {
        text-align: center;
    }
}

.section__text {
    font-size: 4rem;
    @include lifehack;
    line-height: 1;
    &--white {
        color: $white;
    }
    @include phones {
		font-size: rem(54px);
	}
	@include phones-small {
		font-size: rem(44px);
	}
}


